{% extends 'core/navbar_base.html' %}

{% block content %}

    <h1>Event Edit View</h1>
    {% if id %}
        <p>Editing event no: {{ id }}</p>
    {% else %}
        <p>New Event</p>
    {% endif %}
    <form action="" method="post" id="form-container">
        {% csrf_token %}
        {{ event_form.as_p }}
        {{ email_formset.management_form }}
        <p>Emails of Invitees</p>
        {% for form in email_formset %}
            <div class="email-form">
                {{ form.as_p }}
            </div>
        {% endfor %}
        <button id="add-form" type="button">Add another</button>
        <br>
        <input type="submit" value="Submit">
    </form>
    <script>
        let emailForm = document.getElementsByClassName("email-form")
        let container = document.getElementById("form-container")
        let addButton = document.getElementById("add-form")
        let totalForms = document.getElementById("id_emails-TOTAL_FORMS")
        let maxForms = document
            .getElementById("id_emails-MAX_NUM_FORMS")
            .getAttribute("value")

        let numEmails = emailForm.length - 1
        addButton.addEventListener('click', addForm)

        function addForm(e) {
            e.preventDefault()

            let newForm = emailForm[0].cloneNode(true)

            numEmails++
            newForm.innerHTML = newForm.innerHTML.replaceAll('emails-0-', `emails-${numEmails}-`)
            container.insertBefore(newForm, addButton)

            totalForms.setAttribute('value', `${numEmails + 1}`)
            if (numEmails + 1 >= maxForms) {
                addButton.disabled = true
            }
        }

    </script>
{% endblock %}
