{% extends 'core/navbar_base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static '/events/css/edit-event.css' %}">

{% endblock %}

{% block content %}
    <form class="row" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="d-none hidden-form-elements">
            <div class="email-form">
                {% crispy email_formset.empty_form email_formset_helper %}
            </div>
            {{ email_formset.management_form }}
        </div>
        <div class="col-md-4">
            {% crispy event_form %}
        </div>
        <div class="col-md-8" id="form-container">
            {% for form in email_formset %}
                <div class="email-form">
                    {% crispy form email_formset_helper %}
                </div>
            {% endfor %}
        </div>

        <div class="button-bar">
            <button id="add-form" type="button" class="mr-3 btn-lg btn-primary">Add Email</button>
            <br>
            <input type="submit" value="Submit" class="btn-dark btn-lg">
        </div>
    </form>
    <script>
        let emailForm = document.getElementsByClassName("email-form")
        let hiddenEmailForm = document.querySelector(".hidden-form-elements .email-form")
        let container = document.getElementById("form-container")
        let addButton = document.getElementById("add-form")
        let totalForms = document.getElementById("id_emails-TOTAL_FORMS")
        let maxForms = document
            .getElementById("id_emails-MAX_NUM_FORMS")
            .getAttribute("value")

        let numEmails = emailForm.length - 1
        addButton.addEventListener('click', addForm)

        function addForm(e) {
            e.preventDefault()

            let newForm = hiddenEmailForm.cloneNode(true)

            numEmails++
            newForm.innerHTML = newForm.innerHTML.replaceAll('__prefix__', numEmails)
            newForm.get
            container.append(newForm)

            totalForms.setAttribute('value', `${numEmails + 1}`)

            if (numEmails + 1 >= maxForms) {
                addButton.disabled = true
            }
        }

    </script>
{% endblock %}
