body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.body-wrapper {
    min-height: 100vh;
    display: flex;
}

div.main-container {
    position: relative;
    margin: auto;
    width: 85%;
    min-height: 300px;
}

