.card img {
    max-height: 350px;
}

.status {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#gift-reveal-row .card-img-top {
    width: 125px;
    height: 125px;
    object-fit: cover;
}

