{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% block links %}
<link rel="stylesheet" href="{% static 'users/css/login.css'  %}">
{% endblock %}

{% block content %}


    <div id="heading-section" class="card p-2">
        <h1>Secret Santa</h1>
        <strong id="subtitle">Give the gift of joy this Christmas</strong>
    </div>
    <div class="row form-signin align-items-end">

        <form class="card p-4 col-sm" method="post" action="{% url 'login' %}">
            <h3>Please Sign In</h3>
            {% csrf_token %}
            {{ form | crispy }}

            <button class="btn btn-lg btn-primary btn-block" type="submit" value="login">Sign In</button>
            <input type="hidden" name="next" value="{{ next }}">
            <p class="mt-3 mb-3 text-muted">New User? <a href="{% url 'register' %}">sign up here!</a></p>
        </form>

    </div>
{% endblock %}
